{{ $uncategorized := slice }}

{{ range .Site.RegularPages }}
    {{ if not (isset .Params "categories") }}
        {{$uncategorized = $uncategorized | append . }}
    {{ end }}
{{ end }}

{{ with $uncategorized}}
    <section>
        {{ if eq $.Kind "home" }}
            <h2>
                <a href="{{ $.Site.BaseURL }}/categories/uncategorized">
                    {{ i18n "uncategorized" }}
                </a>
            </h2>
        {{ end }}
        {{ range $uncategorized}}
            {{ partial "recipe_list_item" .}}
        {{ end }}        
    </section>
{{ end }}